body {
    background-color: #607D8B;
}

#container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

button {
    margin: 30px 1px 0 1px;
    font-size: 24px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.start {
    background-color: #1cbd1c;
}

.stop {
    background-color: #f10e0e;
}

.reset {
    background-color: #f7a312;
}

.stopwatch {
    font-size: 46px;
    color: #eeeeee;
    letter-spacing: 2px;
    padding: 5px;
}